.element-page {
  display: inline-block;
  padding: 6px 12px;
  margin-right: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.element-page a {
  text-decoration: none;
}

.actif {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

#catecolor{
  color: rgb(235, 155, 155);
}

#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#colorBlague{
  color: rgb(38, 0, 253);
  background-color: rgb(170, 144, 105);
}

#colorTitle{
  color: rgb(0, 0, 0);
}

