.element-page {
  display: inline-block;
  padding: 6px 12px;
  margin-right: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.element-page a {
  text-decoration: none;
}

.actif {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

#catecolor{
  color: white;
}

/* Masque le texte de pagination sur les écrans plus petits que md */
@media (max-width: 767.98px) {
  #paginationText {
    display: inline-block;
  }

  #pagination {
    display: none;
  }
}

/* Affiche le texte de pagination sur les écrans plus grands que md */
@media (min-width: 768px) {
  #paginationText {
    display: none;
  }

  #pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}